@using Pvp.Web.AppLogic.Models.DTO
@model IEnumerable<Location>

<div class="container-fluid bg-success pt-5 pb-5">
    <div class="container pt-3 pb-3 text-light">
        <h2>Check out our menus</h2>
        <div class="card text-dark">
            <div class="card-header">
                
                    Choose a location
                    <select>
                        @foreach(var loc in Model)
                        {
                            <option>@loc.DisplayName</option>
                        }
                    </select>
                    to see that Menu
                
            </div>
            <div class="card-body">
                <i class="mdi mdi-loading mdi-spin"></i> Loadin Menu ...
            </div>
        </div>

    </div>
</div>
