<div id="fb-root"></div>
<script>
(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="container-fluid bg-success text-light">

<script src="https://apis.google.com/js/platform.js" async defer></script>



    <div class="container pt-5 pb-5">

        <h2>Visit us on Social Media</h2>

        <div class="card-deck">
            <div class="card text-dark">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Check out our other social media</h2>
                    </div>
                </div>
                <div class="card-body text-dark">                    

                    <div class="g-page" data-width="450" data-href="https://plus.google.com/104327025356895578808" data-rel="publisher"></div>


                    <blockquote class="embedly-card"><h4>
                        <a href="https://www.instagram.com/pecosvalley313/">Pecos (@@pecosvalley313) * Instagram photos and videos</a></h4><p>432 Followers, 440 Following, 87 Posts - See Instagram photos and videos from Pecos (@@pecosvalley313)</p></blockquote>

                    <blockquote class="embedly-card"><h4><a href="https://www.leafly.com/dispensary-info/pecos-valley">Pecos Valley Production - Roswell Marijuana Dispensary 313 West Country Club Roswell, NM</a></h4><p>Pecos Valley Production - Roswell Marijuana Dispensary in Roswell, NM</p></blockquote>
                    
                    <blockquote class="embedly-card"><h4><a href="https://weedmaps.com/dispensaries/pecos-valley-Producers-2">Pecos Valley Production</a></h4><p>Pecos Valley Production is New Mexico's premiere medical marijuana dispensary. We offer a variety of Naturally grown, high quality products. Pecos Valley Production Pecos Valley Production strives to simplify access to alternative methods of medicine and naturopathic remedies by offering patients the highest quality product and customer service.</p></blockquote>
                    

                    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

                </div>
            </div>
            <div class="card text-dark">
                <div class="card-header">
                    <div class="card-title"><h2>Facebook</h2></div>
                </div>
                <div class="card-body">
                    <div class="fb-page" data-href="https://www.facebook.com/PecosValleyPharmaceutical"
                         data-tabs="timeline"
                         data-width="500"
                         data-height="1500"
                         data-small-header="false" data-adapt-container-width="true"
                         data-hide-cover="false"
                         data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/PecosValleyPharmaceutical" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/PecosValleyPharmaceutical">Pecos Valley Production</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>