@using Pvp.Web.AppLogic.Models.DTO
@model Location

<div class="container">
    @using (Html.BeginForm("EditLocation", "Admin", FormMethod.Post))
            {
        @Html.Partial("_locationForm", Model)

        <button type="submit" class="btn btn-success float-left"><i class="mdi mdi-content-save"></i> Save Changes</button>
    }
    @using (Html.BeginForm("DeleteLocation", "Admin", FormMethod.Post))
    {
    @Html.HiddenFor(m=> m.Id)
    <button type="submit" class="btn btn-danger float-right"><i class="mdi mdi-delete"></i></button>
    }
</div>
                                     