
<div class="container-fluid text-light bg-light pt-5 pb-5">
   <div id="locationArea"></div>
   <div id="footerLocationMap"></div>


</div>

<div class="container-fluid  bg-dark">
    <div class="container text-center text-white pt-5 pb-5">

        <div class="card">

            <div class="socialMedia bg-success text-white card">
                <div class="text-center card-header">
                    <h3>And join us on social media!</h3>
                </div>
                <div class="card-body">

                    <a href="https://www.facebook.com/PecosValleyPharmaceutical" class="pr-2 text-white" target="_blank">
                        <i class="mdi mdi-facebook"></i> Facebook
                    </a>

                    <a href="https://plus.google.com/104327025356895578808" class="pr-2 text-white" target="_blank">
                        <i class="mdi mdi-google-plus"></i> Google +
                    </a>

                    <a href="https://www.instagram.com/pecosvalley313" class="pr-2 text-white" target="_blank">
                        <i class="mdi mdi-instagram"></i> Instagram
                    </a>

                    <a href="https://www.leafly.com/dispensary-info/pecos-valley" class="pr-2 text-white" target="_blank">
                        <img src="http://pvp-4a92.kxcdn.com/images/images/home/leafly-icon.png" alt="Leafly" title="Leafly" width="18" height="19"> Leafly
                    </a>

                    <a href="https://weedmaps.com/dispensaries/pecos-valley-Producers-2" class=" text-white" target="_blank">
                        <img src="http://pvp-4a92.kxcdn.com/images/images/home/weedmaps-icon.png" alt="Weedmaps" title="Weedmaps" width="18" height="19"> weedmaps
                    </a>

                </div>
            </div>

        </div>
        <div class="container pt-3">
            <i class="mdi mdi-copyright"></i> DevolvedMedia @DateTime.Now.Date.Year
        </div>
    </div>
</div>