.anchor {
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}

.circle-image {
    border: 3px solid #38b92a;
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #306423;
}

    .circle-image.products {
        background: url("../images/cannabis-1418332_1280sm.jpg");
    }

@media (max-width: 42em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 42em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}

.modal-lg {
    max-width: 80% !important;
}

.selectItem, .ratingStar:hover, .clickable {
    cursor: pointer;
}
.border-dark {
    border-bottom: 2px solid black;
}

h2, h3 {
    font-family: 'Satisfy', cursive;
}

/*.card-body:not(.bg-white){
    background-image: url("../Images/bg18.jpg");
}*/

/*@media (min-width: 80em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}*/

/*@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}*/

/*body{
    background: url("../Images/bg19.png");
}*/

.container-fluid.bg-logo {
    background: url("../Images/pvpwebbackgroundDarker.jpg") center;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-color: rgba(52, 58, 64, 0.75) !important;
}
.container-fluid.bg-success {
    background: url("../Images/pvpwebpagebackgroundsuccess.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(48, 167, 69, 0.75) !important;
}
.container-fluid.bg-dark {
    background: url("../Images/pvpwebpagebackgrounddark.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(52, 58, 64, 0.75) !important;
}
.container-fluid.bg-secondary, body {
    background: url("../Images/pvpwebpagebackgroundsecondary.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(134, 142, 150, 0.75) !important;
}
.container-fluid.bg-light {
    background: url("../Images/pvpwebpagebackgroundlight.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(248, 249, 250, 0.75) !important;
}